.color-white {
  color:#fff;
}

.color-black {
  color:#000;
}

.theme--white .page {
  color:#000;
  background:#fff
}

.theme--black .page {
  color:#fff;
  background:#000;
}

.theme--yellow .page {
  color:#000;
  background:#f9d965;
}

.theme--pink .page {
  color:#000;
  background:#ff9191;
}