body {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 300;
}

.typography {
  h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;

    @media(min-width: 501px) {
      font-size: 37px;
    }

    @media(min-width: 769px) {
      font-size: 50px;
    }
  }

  p {
    font-size: 23px;
    line-height: .95;
    margin-top: .6em;
    margin-bottom: .6em;

    @media(min-width: 501px) {
      font-size: 32px;
    }

    @media(min-width: 769px) {
      font-size: 45px;
    }
  }

  p + h2 {
    margin-top: 1.15em;
  }
}