.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vw;
  max-width: 350px;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  line-height: 1.2;
  color: #fff;

  @media (min-width: 769px) {
    width:350px;
    height:350px;
    padding:80px;
  }
}