.careers__body {
  max-width: 1348px;
  padding-left: 34px;
  padding-right: 34px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin: 0 auto 350px;

  @media (max-width: 750px) {
    padding-left: 18px;
    padding-right:1 8px;
  }

  @media (min-width: 600px) {
    padding-top: 200px;
    margin: 0 auto 450px;
  }
}

.careers__makers-video {
  width:100%;
}

.careers__careers-grid {
  margin-top: 55px;
}