.about__our-values {
  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    margin-left: 22.5%;
    max-width: 72.5%;

    @media(max-width: 600px) {
      margin-left:7.5%;
      max-width:92.5%;
    }
  }
}

.about__our-values-summary {
  margin-top: 400px;

  @media (max-width: 750px) {
    font-size:25px;
    margin:190px auto;
    margin-top:365px;
    text-align:left;
  }

  @media (max-width: 600px) {
    margin-top:275px;
  }

  p {
    max-width: 809px;

    @media (max-width: 750px) {
      max-width: 555px;
      margin-right: 0;
      margin-left: auto;
    }

    @media (max-width: 600px) {
      max-width:274px;
    }
  }
}


.our-values.typography {
    margin-top: 20vh;
}



.reveal-words-on-scroll .reveal-words-on-scroll__paragraph span {
display: inline-block;
transition: all .4s ease;
opacity: 0;
transform: translate3d(5px,0,0);
margin-left: .2em;
margin-bottom: .25em;
overflow: visible;
}
