.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-1 span:nth-child(-n+1),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-2 span:nth-child(-n+2),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-3 span:nth-child(-n+3),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-4 span:nth-child(-n+4),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-5 span:nth-child(-n+5),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-6 span:nth-child(-n+6),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-7 span:nth-child(-n+7),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-8 span:nth-child(-n+8),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-9 span:nth-child(-n+9),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-10 span:nth-child(-n+10),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-11 span:nth-child(-n+11),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-12 span:nth-child(-n+12),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-13 span:nth-child(-n+13),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-14 span:nth-child(-n+14),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-15 span:nth-child(-n+15),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-16 span:nth-child(-n+16),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-17 span:nth-child(-n+17),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-18 span:nth-child(-n+18),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-19 span:nth-child(-n+19),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-20 span:nth-child(-n+20),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-21 span:nth-child(-n+21),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-22 span:nth-child(-n+22),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-23 span:nth-child(-n+23),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-24 span:nth-child(-n+24),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-25 span:nth-child(-n+25),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-26 span:nth-child(-n+26),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-27 span:nth-child(-n+27),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-28 span:nth-child(-n+28),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-29 span:nth-child(-n+29),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-30 span:nth-child(-n+30),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-31 span:nth-child(-n+31),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-32 span:nth-child(-n+32),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-33 span:nth-child(-n+33),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-34 span:nth-child(-n+34),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-35 span:nth-child(-n+35),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-36 span:nth-child(-n+36),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-37 span:nth-child(-n+37),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-38 span:nth-child(-n+38),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-39 span:nth-child(-n+39),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-40 span:nth-child(-n+40),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-41 span:nth-child(-n+41),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-42 span:nth-child(-n+42),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-43 span:nth-child(-n+43),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-44 span:nth-child(-n+44),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-45 span:nth-child(-n+45),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-46 span:nth-child(-n+46),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-47 span:nth-child(-n+47),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-48 span:nth-child(-n+48),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-49 span:nth-child(-n+49),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-50 span:nth-child(-n+50),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-51 span:nth-child(-n+51),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-52 span:nth-child(-n+52),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-53 span:nth-child(-n+53),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-54 span:nth-child(-n+54),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-55 span:nth-child(-n+55),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-56 span:nth-child(-n+56),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-57 span:nth-child(-n+57),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-58 span:nth-child(-n+58),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-59 span:nth-child(-n+59),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-60 span:nth-child(-n+60),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-61 span:nth-child(-n+61),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-62 span:nth-child(-n+62),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-63 span:nth-child(-n+63),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-64 span:nth-child(-n+64),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-65 span:nth-child(-n+65),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-66 span:nth-child(-n+66),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-67 span:nth-child(-n+67),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-68 span:nth-child(-n+68),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-69 span:nth-child(-n+69),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-70 span:nth-child(-n+70),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-71 span:nth-child(-n+71),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-72 span:nth-child(-n+72),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-73 span:nth-child(-n+73),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-74 span:nth-child(-n+74),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-75 span:nth-child(-n+75),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-76 span:nth-child(-n+76),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-77 span:nth-child(-n+77),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-78 span:nth-child(-n+78),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-79 span:nth-child(-n+79),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-80 span:nth-child(-n+80),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-81 span:nth-child(-n+81),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-82 span:nth-child(-n+82),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-83 span:nth-child(-n+83),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-84 span:nth-child(-n+84),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-85 span:nth-child(-n+85),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-86 span:nth-child(-n+86),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-87 span:nth-child(-n+87),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-88 span:nth-child(-n+88),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-89 span:nth-child(-n+89),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-90 span:nth-child(-n+90),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-91 span:nth-child(-n+91),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-92 span:nth-child(-n+92),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-93 span:nth-child(-n+93),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-94 span:nth-child(-n+94),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-95 span:nth-child(-n+95),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-96 span:nth-child(-n+96),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-97 span:nth-child(-n+97),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-98 span:nth-child(-n+98),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-99 span:nth-child(-n+99),
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph--reveal-to-word-100 span:nth-child(-n+100) {
 opacity:1;
 transform:none
}
.reveal-words-on-scroll .reveal-words-on-scroll__paragraph span {
 display:inline-block;
 transition:all .4s ease;
 transform:translate3d(5px,0,0);
 margin-left:.2em;
 margin-bottom:.25em;
 overflow:visible
}
@media (min-width:501px) {
 .reveal-words-on-scroll .reveal-words-on-scroll__paragraph span {
  margin-bottom:.15em
 }
}
.reveal-words-on-scroll--uiwebview .reveal-words-on-scroll__paragraph span {
 opacity:1;
 transform:none
}