.careers__careers-grid
  .careers-grid__grid
    .careers-grid__row.grid-row
      .grid-col-6.grid-col-m-4.grid-col-l-2.grid-push-s-6.careers-grid__empty-item
    .careers-grid__row.grid-row
      .grid-col-6.grid-col-m-4.grid-col-l-2.hide-above-l.hide-below-m.careers-grid__empty-item
      .grid-col-6.grid-col-m-4.grid-col-l-2.grid-push-l-2.hide-below-l
        .careers-grid__empty-item
      .grid-col-6.grid-col-m-4.grid-col-l-2
        a(href="career-devops.html").careers-grid__career-item.careers-grid__career-item--white
          span DevOps Engineer
      .grid-col-6.grid-col-m-4.grid-col-l-2
        a(href="career-backend.html").careers-grid__career-item.careers-grid__career-item--pink
          span Back End Developer
      .grid-col-6.grid-col-m-4.grid-col-l-2.hide-below-l
        .careers-grid__empty-item
    .careers-grid__row.grid-row
      .grid-col-6.grid-col-m-4.grid-col-l-2.hide-above-l.hide-below-m.careers-grid__empty-item
      .grid-col-6.grid-col-m-4.grid-col-l-2.grid-push-l-2.hide-below-l
        .careers-grid__empty-item
      .grid-col-6.grid-col-m-4.grid-col-l-2.hide-below-l
        .careers-grid__empty-item
      .grid-col-6.grid-col-m-4.grid-col-l-2
        a(href="career-spontaneous.html").careers-grid__career-item.careers-grid__career-item--yellow
          span I'm Feeling Lucky
      .grid-col-6.grid-col-m-4.grid-col-l-2.hide-below-l
        .careers-grid__empty-item
      .grid-col-6.grid-col-m-4.grid-col-l-2.hide-below-l
        .careers-grid__empty-item
    .careers-grid__row.grid-row
      .grid-col-6.grid-col-m-4.grid-col-l-2.grid-push-6.grid-push-m-4.grid-push-l-6.careers-grid__empty-item