.careers
  .box.box1.empty-item
  .box.box2.box-pink
    a(href="career-backend.html")
      span Back End Developer
  .box.box3.box-yellow
    a(href="career-spontaneous.html")
      span I'm Feeling Lucky
  .box.box4.empty-item