.careers-promotion.typography
  .reveal-words-on-scroll
    p.reveal-words-on-scroll__paragraph
      | Check out our open positions

.careers
  .box.box1.empty-item
  .box.box2.empty-item
  .box.box3.box-pink
    a(href="career-backend.html")
      span Back End Developer
  .box.box4.box-yellow
    a(href="career-spontaneous.html")
      span I'm Feeling Lucky
  .box.box5.empty-item