  .careers-promotion.typography
  .reveal-words-on-scroll(data-aos='fade-left', data-aos-offset='100', data-aos-delay='50', data-aos-duration='1000', data-aos-easing='ease-in-out', data-aos-mirror='true', data-aos-once='false', data-aos-anchor-placement='top-center')
    p.reveal-words-on-scroll__paragraph
    |Check out our open positions

.careers
  .box.box1.empty-item
  .box.box2.empty-item
  .box.box3.box-pink
    a(href='career-backend.html')
      span Back End Developer
  .box.box4.box-yellow
    a(href='career-spontaneous.html')
      span I&apos;m Feeling Lucky
  .box.box5.empty-item
