.career__summary.grid-row
  .grid-col-12.grid-col-m-10.grid-push-m-2
    p
      | We’re excited to seek out for a back end developer
      | to join our mission to pioneer the banking services
      | of the future. Because that is exactly what we offer:
      | a possibility to operate at the very forefront of the
      | financial industry, constantly expanding into new areas,
      | working with open source and new technologies (of course).
      | We are looking for someone who wants to play an important
      | role in building the back end powering the next generation
      | of financial services, while growing as an engineer.
      | But above all, we search for a developer who is in it to
      | win it as a team.

    h2 What you will be part of
    p
      | We are a newly established organization and therefore,
      | we adapt ourselves and our setup continuously when we learn
      | new things. For the better, of course. This is a short
      | description of where we are at the moment and what we would
      | like you to be a part of:
    ul
      li
        strong An organization that work closely together
        |  with both platform engineers, designers, strategists
        | and front end developers, all in all with the common
        | ambition to create state-of-the art services to our customers.
      li
        strong A dynamic environment
        |  where changes and new paths is a part of the day-to-day work.
      li
        strong A place where you are you.
        |   Do you have an idea of a new technique to implement
        | or a suggested way or working we should try?
        | Please tell us! Do you enjoy working with known
        | methods to develop your skills and depth in the area?
        | Well please do so! As long as you are you.
    h2 What we will need from you
    p
      | While we realize you might not match everything on the
      | list to be a successful candidate for the position,
      | you have most likely been working as a back end developer
      | for a few years. You would also need to have knowledge,
      | interest and experience in the following:
    ul
      li Distributed back end systems, their scalability and continued development.
      li Java Enterprise, Spring framework or other DI framework, NoSql
      li Security related technologies like Ouath2, XACML etc.
      li Remote method technologies like gRPC and Java RM
      li API gateways, service mesh technologies including API management, auto discovery, Self-healing etc.
      li Devop technologies like Ansible, Google Cloud, Open Stack, Amazon EC2 or similar IaaS technologies,
      li Docker, Vagrant, Jenkins, Nexus
      li Linux and/or OSX, GIT
      li In-memory computing technologies (i.e Gigaspaces XAP)
      li Apache Maven, Apache Kafka, JUnit and/or Cucumber
    h2 Extra points for knowledge in:
    ul
      li Fault tolerance using Hystrix or similar framework
      li Metrics using the Influx suite and/or Grafana
      li RxJava
      li Apache Spark, Hadoop
      li Gigaspaces InsightEdge and Memory XTend
    p
      | This is a true opportunity to grow and develop yourself
      | in your profession. So if you have the majority of the
      | skills we are looking for and think that our setup sounds
      | tempting, this is the moment where you apply.
      | We are looking forward to hear from you!
