footer.footer
  .footer__manifest-video.manifest-video__container
    video.manifest-video__video(src="assets/button.mp4" type="video/mp4" autoplay playsinline loop muted)
  .footer__sign-up-container
    form
      input.footer__sign-up-email-input-white(type="email" autocorrect="none" autocapitalize="none" value="")
      .footer__sign-up-email-placeholder-white Sign up for future updates
      .footer__sign-up-email-placeholder-white.footer__sign-up-email-placeholder-second Enter your email
  .footer__links
    .footer__links-spacer(style="opacity:0")
    div
      a(href="#") Journal
      a(href="#") About
      a(href="#") Career
  .footer__copyright-container
    .footer__initiated-text.footer__privacy-policy-white Initiated by SEB
    .footer__privacy-policy-white
      a(href="mailto:info@sebx.io") info@sebx.io
      a(href="/privacy-policy/")
        br
        br
        | © 2019, Skandinaviska Enskilda Banken AB, Privacy Policy