.about__hero-video
  video.header-video(src="assets/hero-medium.mp4" type="video/mp4" autoplay playsinline muted)
    img.fallback-image(src="assets/hero-fallback.png")

  .about__welcome.welcome
    h1.welcome__title Welcome to SEBx
    .welcome__description
      p
        |A strategic initiative to explore
        |new technologies and new customer offerings.