.container-fluid
    .row
      .col-md-12
        h1 Lorem ipsum dolor sit amet.
        .hero
          video.hero-video(src="assets/hero-large.mp4" type="video/mp4" class="hero__video" autoplay playsinline muted)
            img.fallback-image(src="assets/hero-fallback.png")
