header.index__header
  video.header-video(src="assets/hero-medium.mp4" type="video/mp4" autoplay playsinline muted)
    img.fallback-image(src="assets/hero-fallback.png")

  .about
    h1.about__title Welcome to SEBx
    .about__description
      p
        |A strategic initiative to explore
        |new technologies and new customer offerings.