footer.index__footer
  .row
    .footer__sebx-summary.col-12.col-lg-4 Iniated by SEB
    .col-12.col-lg-8
      .footer__aside © 2018 — Skandinaviska Enskilda Banken AB — <a href="privacy.html"> Privacy Policy</a>
