.linkedin-button.linkedin-button--pink
  button.linkedin-button__button
    span.linkedin-button__button-pre-fetch-label Make my life easier. Get my LinkedIn info.
    span.linkedin-button__button-post-fetch-label Done!
  .linkedin-button__icon-container
    img(src="#" role="presentation" alt="").linkedin-button__thumbs-up
    svg(width="22" height="28" fill="none" xmlns="http://www.w3.org/2000/svg").linkedin-button__arrow
      path(d="M11 0v26M1 16.5l10 10 10-10" stroke="#000" stroke-width="2")