.menu__container.menu__white
  .menu__content-container
    button.menu__square
    img(src="assets/cross.svg").menu__cross
    .menu__current-page SEBx innovation studio
    .menu__open-content-container
      .menu__navigation-items
        a(href="#") About
        a(href="careers.html") Careers