.about__our-values.typography
  .reveal-words-on-scroll
    h2 A place for exploration
    p.reveal-words-on-scroll__paragraph(data-aos='fade-left', data-aos-offset='100', data-aos-delay='50', data-aos-duration='1000', data-aos-easing='ease-in-out', data-aos-mirror='true', data-aos-once='false', data-aos-anchor-placement='top-center')
      | We
      | belive
      | in
      | looking
      | at
      | the
      | world
      | through
      | the
      | lens
      | of
      | the
      | user
      | and
      | let
      | data-driven
      | insights
      | guide
      | us
      | in
      | pushing
      | boundaries.
      | We
      | exist
      | to
      | break
      | new
      | grounds
      | of
      | thought.
    h2 A place for collaboration
    p.reveal-words-on-scroll__paragraph(data-aos='fade-left', data-aos-offset='100', data-aos-delay='50', data-aos-duration='1000', data-aos-easing='ease-in-out', data-aos-mirror='true', data-aos-once='false', data-aos-anchor-placement='top-center')
      | We
      | believe
      | in
      | pioneering
      | partnerships,
      | co-creation
      | and
      | the
      | creative
      | power
      | of
      | diverse
      | teams.
      | We
      | exist
      | to
      | drive
      | insights
      | and
      | thoughts
      | into
      | visions
      | of
      | the
      | future.
    h2 A place for growth
    p.reveal-words-on-scroll__paragraph(data-aos='fade-left', data-aos-offset='100', data-aos-delay='50', data-aos-duration='1000', data-aos-easing='ease-in-out', data-aos-mirror='true', data-aos-once='false', data-aos-anchor-placement='top-center')
      | We
      | believe
      | that
      | the
      | world
      | as
      | we
      | know
      | it
      | will
      | continue
      | to
      | be
      | challenged.
      | We
      | exist
      | to
      | find
      | new
      | ways
      | of
      | sustainable
      | growth,
      | both
      | as
      | businesses
      | and
      | individuals,
      | and
      | together
      | create
      | something
      | greater
      | than
      | ourselves.
    h2 A place for progress
    p.reveal-words-on-scroll__paragraph(data-aos='fade-left', data-aos-offset='100', data-aos-delay='50', data-aos-duration='1000', data-aos-easing='ease-in-out', data-aos-mirror='true', data-aos-once='false', data-aos-anchor-placement='top-center')
      | We
      | believe
      | that
      | our
      | world
      | is
      | modular,
      | adaptable
      | and
      | flexible,
      | and
      | that
      | the
      | best
      | way
      | to
      | foresee
      | what’s
      | next
      | is
      | to
      | build
      | our
      | way
      | into
      | it.
      | We
      | exist
      | to
      | drive
      | progress
      | and
      | shape
      | our
      | own
      | future.
      | We
      | are
      | SEBx.

.about__our-values-summary.typography
  .reveal-words-on-scroll
    p.reveal-words-on-scroll__paragraph(data-aos='fade-left', data-aos-offset='100', data-aos-delay='50', data-aos-duration='1000', data-aos-easing='ease-in-out', data-aos-mirror='true', data-aos-once='false', data-aos-anchor-placement='top-center')
      | Is
      | this
      | a
      | place
      | for
      | you?
      | We
      | believe
      | that
      | small,
      | agile
      | teams
      | can
      | have
      | a
      | huge
      | impact.