.about__our-values.typography
  .reveal-words-on-scroll
    h2 A place for exploration
    p.reveal-words-on-scroll__paragraph
      span We
      span belive
      span in
      span looking
      span at
      span the
      span world
      span through
      span the
      span lens
      span of
      span the
      span user
      span and
      span let
      span data-driven
      span insights
      span guide
      span us
      span in
      span pushing
      span boundaries.
      span We
      span exist
      span to
      span break
      span new
      span grounds
      span of
      span thought.
    h2 A place for collaboration
    p.reveal-words-on-scroll__paragraph
      span We
      span believe
      span in
      span pioneering
      span partnerships,
      span co-creation
      span and
      span the
      span creative
      span power
      span of
      span diverse
      span teams.
      span We
      span exist
      span to
      span drive
      span insights
      span and
      span thoughts
      span into
      span visions
      span of
      span the
      span future.
    h2 A place for growth
    p.reveal-words-on-scroll__paragraph
      span We
      span believe
      span that
      span the
      span world
      span as
      span we
      span know
      span it
      span will
      span continue
      span to
      span be
      span challenged.
      span We
      span exist
      span to
      span find
      span new
      span ways
      span of
      span sustainable
      span growth,
      span both
      span as
      span businesses
      span and
      span individuals,
      span and
      span together
      span create
      span something
      span greater
      span than
      span ourselves.
    h2 A place for progress
    p.reveal-words-on-scroll__paragraph
      span We
      span believe
      span that
      span our
      span world
      span is
      span modular,
      span adaptable
      span and
      span flexible,
      span and
      span that
      span the
      span best
      span way
      span to
      span foresee
      span what’s
      span next
      span is
      span to
      span build
      span our
      span way
      span into
      span it.
      span We
      span exist
      span to
      span drive
      span progress
      span and
      span shape
      span our
      span own
      span future.
      span We
      span are
      span SEBx.

.about__our-values-summary.typography
  .reveal-words-on-scroll
    p.reveal-words-on-scroll__paragraph
      span Is
      span this
      span a
      span place
      span for
      span you?
      span We
      span believe
      span that
      span small,
      span agile
      span teams
      span can
      span have
      span a
      span huge
      span impact.